.container {
  padding: 10px;
}

.btn {
  background-color: #1d46ff;
  /* padding: 12px; */

  width: 100px;
  height: 40px;
  border-radius: 10%;
  color: white;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
