.header {
  display: flex;
  flex-direction: row;
  position: sticky;
  justify-content: space-between;
  top: 0;
  color: white;
  padding: 15px;
  text-align: center;
  z-index: 1000;
  background-color: #9d9d9d;
}

.mainContainer {
  display: flex;
  height: 750px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.mainContainer h1 {
  padding: 20px;
}

.mainContainer Image {
  align-items: center;
}

.mainContainer h2 {
  display: flex;
  padding: 10px;
}
