.main {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  text-align: center;
}

.main section {
  padding: 10px;
  margin: 10px;
  height: 900px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 86, 179, 1);
}

.imageContainer img {
  padding: 10px 0px 10px 0px;
}

.questionsContainer {
  padding: 10px;
}

.questionsContainer ol {
  margin-left: 10px;
}

.questionsContainer h1 {
  text-align: left;
  padding: 10px 0px 10px 0px;
}

.answersContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.answersContainer label {
  display: flex;
  text-align: left;
  font-size: 25px;
  padding: 10px;
  border-bottom-style: ridge;
}
